/*.app {
  display: flex;
  flex-direction: row;
}

.player-list {
  flex: 1;
  margin-right: 20px;
}

.player-list ul {
  list-style: none;
  padding: 0;
}

.player-list li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.player-list li span {
  flex: 1;
} */